.App {
  min-height: 100vh;
    padding: 0px;
      border-radius: 15px;
      width:150%;
      max-height: 70vh;
      margin-top:30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
    
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container{
  min-width:100%;
  display: flex;
  min-height:100vh;
}

.sidebar{
  width:100%;
  background-color: rgba(109,127,204,255);
  min-height: 100%;
  margin-left: -4%;
}

.Side{
  max-width: 20%;
  margin-left: 0px;
  padding:0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.head{
  background-color: rgb(80, 98, 193);
  color:white;
  margin: 0px;
  
  text-align: left;
  padding:10%;
  padding-left: 17%;
}

.main{
  display: inline-block;
  max-width: 75%;
  padding: 10px;
}
.main1{
  width:40%;
  max-height: 40vh;
  margin-left:16%;
}

.navBar{
  max-width:50%;
  margin-left:14%;
  margin-top:2%;
  max-height:100px;
  border-radius: 7px;
}

.mainHeader {
  border-radius: 15px;
  width:150%;
  max-height: 70vh;
  margin-left: 30px;
  margin-top:30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} 


.sideNav>.sideNavItem{
  height: 68px;
  font-size: 18px;
  padding-top: 15px;
  text-align: left;
  padding-left: 3%;
  margin:0px;
  font-weight: 635;
  border: 0px;
}
.sideNav>.sideNavHeading{
  height: 100px;
  font-size: 19px;
  padding-top: 35px;
  text-align: left;
  padding-left: -1%;
  margin:0px;
  font-weight: bold;
  border: 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}